gitio(){
curl -i https://git.io -F "url=$1" -F "code=$2"	
}

alias fastboot="sudo $(which fastboot)"
alias adb="sudo $(which adb)"
alias ll="ls --color=auto -la"
alias lsport="sudo lsof -i"
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"
alias {ed,emacs,nano,vi,vim}="vim"
alias uvim="urxvt -b 80 -e vim"
alias :q="exit"