!   ▖▖
!   ▚▘▛▘█▌▛▘▛▌▌▌▛▘▛▘█▌▛▘
! ▗ ▌▌▌ ▙▖▄▌▙▌▙▌▌ ▙▖▙▖▄▌

#include "/home/ruka/.xrdb/color/noir"


Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

URxvt.intensityStyles:  false
URxvt.allow_bold:       false
URxvt.font:             xft:Hack:pixelsize=14
URxvt.saveLines:        8192

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.scrollBar: false
URxvt.internalBorder: 26

rofi.modi:				run
rofi.width:				20
rofi.lines:				4
rofi.columns:			1
rofi.font:				Noto Sans Bold 9
rofi.bw:				5
rofi.padding:			0
rofi.line-margin:		0
rofi.line-padding:		5
rofi.location:			1
rofi.xoffset:			50
rofi.yoffset:			70
rofi.separator-style:	none
rofi.hide-scrollbar:	true
rofi.sidebar-mode:		false
