mkcd(){
  mkdir -p "$1"
  cd "$1"
}
alias ll="ls --color=auto -la"
alias lsport="sudo lsof -i"
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"
alias {ed,emacs,nano,v,vi,vim}="vim"
alias :q="exit"
alias {yaourt,yay}="trizen"
alias open="xdg-open"

# android related aliases
alias aroot="adb shell su -c"
alias admesg="adb shell su -c dmesg"
alias alog="adb logcat"