[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Compton
Comment=Window Compositor
Exec=compton --dbus
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=Openbox;XFCE;