[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pywal restorer
Comment=Restore pywal theme
Exec=wal -R
StartupNotify=false
Terminal=false
Hidden=false
