/* Nanda Vera's Firefox Quantum Tweaks */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

  /* ----------- File : 01-toolbar-autohide.css ----------- */

  /*
   * Auto-hide the URL-bar and bookmarks bar, show on hover or focus
   *
   * Contributor(s): Alex Vallat
   */
  
  :root[uidensity=compact] #navigator-toolbox {
    --nav-bar-height: 33px;
    --tab-min-height: 29px;
  }
  
  :root:not([uidensity]) #navigator-toolbox {
    --nav-bar-height: 39px;
    --tab-min-height: 33px;
  }
  
  :root[uidensity=touch] #navigator-toolbox {
    --nav-bar-height: 41px;
    --tab-min-height: 41px;
  }
  
  #navigator-toolbox {
    --tabbar-height: calc(var(--tab-min-height) + var(--space-above-tabbar));
    --trigger-area-height: 5px;
  }
  
  :root[chromehidden~="toolbar"] #navigator-toolbox {
    --tabbar-height: 0.1px;
  }
  
  #toolbar-menubar {
    margin-top: 0px !important; /* This is usually 0, but under Win7 can be given an extra 1px when not maximized */
  }
  
  /* Undo add of 4px extra margin on top of the tabs toolbar on Windows 7. */
  /* Note: @media -moz-os-version does not work in userChrome.css (https://bugzilla.mozilla.org/show_bug.cgi?id=1418963) */
  :root[sizemode="normal"][chromehidden~="menubar"] #TabsToolbar,
  :root[sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] + #TabsToolbar {
    padding-top: var(--space-above-tabbar) !important;
  }
  
  #nav-bar, #PersonalToolbar {
  	/* Otherwise spacers will not count as hover-able areas */
      -moz-window-dragging: default;
  }
  
  :root:not([customizing]) #nav-bar
  {
    overflow-y: hidden;
    max-height:0;
    min-height:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
    opacity: 0;
  }
  
  :root:not([customizing]) :hover > #nav-bar,
  :root:not([customizing]) #nav-bar:focus-within {
    max-height: var(--nav-bar-height);
    opacity: 1;
    transition: opacity 0.15s ease-in, max-height 0.15s linear;
  }
  
  :root:not([customizing]) #navigator-toolbox {
    max-height: calc(var(--tabbar-height) + var(--trigger-area-height));
    min-height: var(--tabbar-height);
    margin-bottom: calc(-1 * var(--trigger-area-height));
  }
  
  :root:not([customizing]) #navigator-toolbox:hover,
  :root:not([customizing]) #navigator-toolbox:focus-within {
    max-height: calc(var(--tabbar-height) + var(--nav-bar-height));
    margin-bottom: calc(0px - var(--nav-bar-height));
  }
  
  /* If the bookmarks bar is turned on, auto-hide that too */
  :root:not([customizing]) #PersonalToolbar {
    max-height: 0 !important;
    min-height: 0.1px !important;
    opacity: 0;
    transition: opacity 0.15s ease-in !important;
  }
  
  :root:not([customizing]) :hover > #PersonalToolbar,
  :root:not([customizing]) #navigator-toolbox:focus-within #PersonalToolbar {
    max-height: 4em !important;
    opacity: 1;
  }
  
  /* Lightweight Theme Support */
  :root:-moz-lwtheme #nav-bar, 
  :root:-moz-lwtheme #PersonalToolbar {
    background-color: var(--lwt-accent-color) !important;
    background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
    background-position: var(--lwt-background-alignment) !important;
    background-repeat: var(--lwt-background-tiling) !important;
  }
  
  #main-window[sizemode="normal"]:-moz-lwtheme #nav-bar {
      background-position-y: calc(-2px - var(--tabbar-height)) !important;
  }
  #main-window[sizemode="normal"]:-moz-lwtheme #PersonalToolbar {
      background-position-y: calc(-2px - var(--tabbar-height) - var(--nav-bar-height)) !important;
  }
  
  #main-window[sizemode="maximized"]:-moz-lwtheme #nav-bar {
      background-position-y: calc(-8px - var(--tabbar-height)) !important;
  }
  #main-window[sizemode="maximized"]:-moz-lwtheme #PersonalToolbar {
      background-position-y: calc(-8px - var(--tabbar-height) - var(--nav-bar-height)) !important;
  }


  /* ----------- File : 02-noseparator.css ----------- */

  /*
   * Hides the separator between address bar PageAction extensions and internal icons (Containers, Reader, etc.)
   *
   * Contributor(s): Madis0
   */
  
  #pageActionSeparator{
    display: none;
  }


  /* ----------- File : 99-colors.css ----------- */

  /* Fix autohide navbar position */
  
  #navigator-toolbox {
    position: static !important;
  }
  
  /* My Tweaks */
  :root {
    --custom-bgcolor: #060908;
    --custom-textcolor: #c7c4b9;
    --tabs-border-color: var(--custom-bgcolor) !important;
    --toolbarbutton-border-radius: 0px !important;
    --tabs-border: transparent !important;
  }
  
  #PanelUI-button {
    margin-inline-start: 0px !important;
    border-inline-start: 0px !important;
    border-image: none !important;
  }
  
  .toolbarbutton-1 {
    color: var(--custom-textcolor) !important;
    filter: grayscale(100);
  }
  
  #nav-bar, #urlbar, #toolbar-menubar,
  .tab-background, .tabbrowser-tab,
  toolbar {
    background-color: var(--custom-bgcolor) !important;
    color: var(--custom-textcolor) !important;
  }
  
  .tabbrowser-tab {
    font-weight: bold;
    font-style: italic;
  }
  
  .tabbrowser-tab[visuallyselected="true"] {
    font-style: normal;
  }
  
  .tabbrowser-tab::after,
  .tabbrowser-tab::before {
    border-left: none !important;
  }
  
  #TabsToolbar,
  #TabsToolbar:not(:-moz-lwtheme) {
    -moz-appearance: none !important;
  }
  
  :root toolbar,
  .tab-background {
    background-image: none !important;
  }
  
  #urlbar {
    border: none !important;
    box-shadow: none !important;
  }
  
  .tab-line[selected="true"] {
    opacity: 0 !important;
  }
  
  .tab-icon-image, .tabbrowser-tab .tab-close-button {
    display: none !important;
  }
  
  .tabbrowser-tab:hover .tab-close-button {
    display: -moz-box !important;
  }


/* @-moz-document url(chrome://browser/content/browser.xul) end */
}


/* generated by ekusudb-chan at 2018-03-22 08:57:49 */
