[Desktop Entry]
Name=Compton
Comment=Window Compositor
Exec=compton --dbus
Type=Application
StartupNotify=false
Terminal=false
OnlyShownIn=Openbox;XFCE;