[Desktop Entry]
Name=Cornora
Comment=Hotcorner Daemon
Exec=cornora -tl skippy-xd
Type=Application
StartupNotify=false
Terminal=false
OnlyShownIn=Openbox;XFCE;