conky.config = {
	alignment = 'top_right',
	background = false,
	default_color = 'c9c4d9',
	draw_borders = false,
	draw_outline = false,
	draw_shades = false,
	use_xft = true,
	font = 'Nimbus Sans:bold:size=9',
	update_interval = 1,
	gap_x = 100,
	gap_y = 80,
	minimum_height = 235,
	minimum_width = 190,
	maximum_width = 190,
	double_buffer = true,
	out_to_console = false,
	out_to_stderr = false,
	own_window = true,
	own_window_transparent = false,
	own_window_argb_visual = true,
	own_window_class = 'normal',
	own_window_colour = '34343a',
	own_window_type = 'override',
	own_window_hints = 'undecorated,skip_taskbar,skip_pager,below',
	color1 = '34343a'
	}


conky.text = [[
${exec convert -size 1x1 xc:#c9c4d9 jpg:/tmp/coverbg-dark}\
${if_running mpd}\
	${exec exiftool -b -Picture "${HOME}/Music/$(mpc --format "%file%" current)" > /tmp/cover}\
	${exec convert -size 1x1 xc:#17171d jpg:/tmp/container-dark}\
${endif}\
${image /tmp/container-dark -s 190x235}\
${image /tmp/coverbg-dark -s 190x190 -n}
${if_running mpd}${image /tmp/cover -s 190x190 -n}${endif}
${if_running mpd}${else}${voffset -20}${alignc}${color1}${font Nimbus Sans:size=72}♫${font}${color}${voffset -72}${endif}
${voffset 145}${alignc}\
${if_running mpd}\
	${alignc}${mpd_artist 20}
	${alignc}${mpd_title 20}\
${else}\
	${alignc}Music Player Daemon
	${alignc}Not Running${voffset -72}\
${endif}
]]
